button {
  margin: 10px;
  padding: 10px;
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #230f0b;
  color: #fff;
  font-size: 15px;
}

.fa-times {
  align-self: flex-end;
  margin: 2.5px;
  color: red;
  cursor: pointer;
}

.food {
  width: 200px;
  background-color: white;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px #230f0b;
  color: #230f0b;
}

.food-display {
  min-height: 200px;
  background-color: #ec9e5b;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

h1 {
  font-family: 'Great Vibes', cursive;
  color: #DE751A;
  font-size: 5em;
  text-shadow: 1.25px 1.25px white;
  text-align: center;
}

header {
  background-color: #230f0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
}

.hide {
  display: none;
}

input {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: none;
  color: black;
}

.login {
  background-color: #4e3e3b;
  align-self: flex-end;
}

.warning {
  color: white;
  font-weight: bold;
  margin: 10px 20px;
}